{{ block "index" .}}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org@1.9.2"
    integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
    crossorigin="anonymous"></script>


  <title></title>
  <!-- <link rel="stylesheet" href="./index.css"> -->
  <!-- <link href="https://fonts.googleapis.com/css2"> -->
</head>

<body>

  <header>
    <p>Count <span id="count"></span></p>

    <!-- <p>Count {{.Count}}</p> -->
    <!-- <p> {{template "count" . }} </p> -->
    <!-- <p>Count <span class="counter"></span></p> -->

    <button hx-post="/count" hx-target="#count">Count</button>
  </header>

  <main>
    <section>
    </section>
  </main>

  <footer>
  </footer>

  <script src="./index.js"></script>
</body>

</html>
<!--
//-->
{{ end }}


{{block "count".}}
<!--
  <p>Count <span class="counter"></span></p>
  <button hx-post="/count" hx-target="previous .counter">Count {{.Count}} </button> -->
  {{.Count}}

{{end}}
